@font-face {
  font-family: "IranYekanWebN";
  src: url("static/IranYekanWebN/Normal/woff/IRANYekanWebLight.woff") format("woff"),
  url("static/IranYekanWebN/Normal/ttf/IRANYekanWebLight.ttf") format("truetype");
}

@font-face {
  font-family: "IranYekanWebNFarsi";
  src: url("static/IranYekanWebN/Number/woff/iranyekanwebregularfanum.woff") format("woff"),
  url("static/IranYekanWebN/Number/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: "A Iranian Sans";
  src: url("static/Iranian-Sans.woff") format("woff"),
  url("static/Iranian Sans.ttf") format("truetype");
}

@font-face {
  font-family: "Vazir";
  src: url("static/Vazir-FD-WOL.woff") format("woff"),
  url("static/Vazir-Bold-FD-WOL.woff") format("woff");
}

@font-face {
  font-family: "B Yekan";
  src: url("static/BYEKAN.woff") format("woff"),
  url("static/BYEKAN.TTF") format("truetype");
}

@font-face {
  font-family: "B Nazanin";
  src: url("static/BNAZANIN.woff") format("woff"),
  url("static/BNAZANIN.TTF") format("truetype");
}

@font-face {
  font-family: "Times New Roman";
  src: url("static/times.woff") format("woff"),
  url("static/times.ttf") format("truetype");
}

.v-application .rounded-lg {
  border-radius: 8px !important;
}

$font-size-root: 14px;
$sheet-border-radius: 4px;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (small: 20);
$btn-font-sizes: (default: 0.80rem, large: 1rem);
$btn-sizes: (default: 41, large: 54);
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$card-text-font-size: 14px;

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  ),
  'h3': (
    'size': 1.5625rem,
    'line-height': 1.4em
  ),
  'h4': (
    'size': 1.125rem,
    'line-height': 1.4em
  ),
  'h5': ('size': 1.0625rem),
  'h6': ('size': .75rem),
  'subtitle-2': ('size': 1rem),
  'overline': ('letter-spacing': 0)
);

//$body-font-family: 'IranYekanWeb', 'IranYekanWebNFarsi', 'B Yekan', 'Vazir', 'B Nazanin', 'Times New Roman';
$body-font-family: 'IranYekanWeb', 'IranYekanWebNFarsi';

.v-application {
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: $body-font-family !important;
  }
}

/*** new design ***/
/*** new design ***/

/*** new design ***/
/*** new design ***/

@import '../node_modules/vuetify/src/styles/styles.sass';

.v-application .lightGreen {
  background-color: #ffffff !important;
  border-bottom: 2px solid #D8D8D8 !important;
}

$colorSpecial: #84bd00;

/* loading */
.v-application .primary {
  background-color: $colorSpecial !important;
  border-color: $colorSpecial !important;
}

//textbox inter -> color border
.theme--light .v-application .primary--text {
  color: $colorSpecial !important;
}
.v-application .primary--text {
  color: $colorSpecial !important;
  caret-color: $colorSpecial !important;
}

/*** new design ***/
/*** new design ***/

tbody tr:nth-of-type(odd) {
  background-color: #FBFBFB;
}

thead tr {
  background-color: #fff;
  height: 56px;
}

thead tr th {
  text-align: center !important;
}

tbody tr td {
  font-size: 13px !important;
  text-align: center !important;
}

.v-btn {
  border-radius: 8px;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th {
  padding: 0 !important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
{
  padding: 8px !important;
}

.v-input__slot {
  justify-content: center;
}

.v-list-item__title {
  line-height: 2.0 !important;
}

#nuxt-loading > div, #nuxt-loading > div:after {
  border-radius: 50% !important;
  width: 4rem !important;
  height: 4rem !important;
}

#nuxt-loading > div {
  font-size: 10px !important;
  position: relative !important;
  text-indent: -9999em !important;
  border: 0.3rem solid #f4efef !important;
  border-left: 0.3rem solid #959857 !important;
  -webkit-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  transform: translateZ(0) !important;
  -webkit-animation: nuxtLoading 1.7s infinite linear !important;
  animation: nuxtLoading 1.7s infinite linear !important;
}

//color icon
.theme--light.v-icon {
  color: rgb(0 0 0 / 38%);
}

// textbox border
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
  color: #e0e0e0 !important;
}

.filterHeader {
  color: black !important;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  border-bottom: 0.5px solid #AEAEAE !important;
}

/* placeholder color */
.theme--light.v-label {
  font-size: 15px;
  color: #757575 !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #757575 !important;
  opacity: 1; /* Firefox */
  font-size: 15px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #757575 !important;
  font-size: 15px;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #757575 !important;
  font-size: 15px;
}

/* table */
/* table */
/* table */
.v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table--dense > .v-data-table__wrapper > table > thead > tr > th, .v-data-table--dense > .v-data-table__wrapper > table > tfoot > tr > th {
  height: 46px;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
  font-size: 14px;
  line-height: 24px;
  color: #1C1C1C;
}

tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > tbody > tr > th {
  padding: 14px 15px !important;
  font-size: 14px !important;
}

.theme--light.v-data-table .v-data-table__empty-wrapper {
  color: rgb(0 0 0 / 61%);
  height: 56px;
}

.theme--light.v-data-table .v-data-footer {
  background-color: #f5f5f5;
  color: #444;
  font-size: 18px;
}

.theme--light.v-application--is-rtl .v-data-footer__select {
  font-size: 16px;
}

.theme--light.v-data-table .v-data-footer .v-input__slot {
  height: 30px;
}

.v-data-footer__select .v-select__selections .v-select__selection--comma {
  font-size: 16px;
}

.v-data-table__wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 500px;
}

.v-data-table__wrapper {
  border-radius: 12px;
}

.theme--light.v-data-table {
  border-radius: 12px;
}

.theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th {
  border-bottom: thin solid rgba(0,0,0,.12);
  font-size: 14px;
  line-height: 24px;
  color: #1c1c1c;
}

/* filters */
/* filters */
/* filters */
.btnSearch {
  color: #FFFFFF !important;
  background-color: #84BD00 !important;
  width: 100% !important;
  font-size: 18px !important;
  height: 48px !important;
}

.btnSave {
  color: #FFFFFF !important;
  background-color: #84BD00 !important;
  width: 100% !important;
  font-size: 18px !important;
  height: 48px !important;
}

.btnSend {
  color: #FFFFFF !important;
  background-color: #84BD00 !important;
  width: 100% !important;
  font-size: 18px !important;
  height: 48px !important;
}

.btnAddNew {
  color: #FFFFFF !important;
  background-color: #FB8500 !important;
  width: 100% !important;
  font-size: 18px !important;
  height: 48px !important;
}

/* text filed css */
.text-field {
  border-width: 0.5px !important;
  width: 400px;
  height: 48px;
  border-radius: 10px;
  color: #84BD00 !important;
}

.v-input__slot {
  height: 50px;
}

.v-input__prepend-inner {
  margin-top: 13px !important;
}

.v-input__append-inner {
  margin-top: 13px !important;
}

.v-text-field--outlined.v-input--dense .v-label {
  top: 15px;
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
  padding: 0 15px;
  border-radius: 12px;
}

/* In all projects */
.row.no-gutters > .col, .row.no-gutters > [class*=col-] {
  padding: 0 0 0 10px;
}

//  dialog blur
.theme--dark.v-overlay {
  background: rgba(70, 70, 70, 0.3);
  backdrop-filter: blur(2px);
}

/* Custom Scrollbar  */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #EEEEEE;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* zoom image */
.zoomImage {
  transition: transform .2s;
}

.zoomImage:hover {
  transform: scale(1.2);
}

/* autofill css = change color in autocomplete */
/* autofill css = change color in autocomplete */
/* autofill css = change color in autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
}

/* card */
.v-toolbar__content, .v-toolbar__extension {
  font-size: 18px;
}
.v-sheet.v-card {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: none !important;
}

/* color vue-persian-datetime-picker */
.vpd-header {
  background-color: #73953d !important;
}
.vpd-day:not([disabled]).vpd-selected .vpd-day-effect {
  background-color: #73953d !important;
}

/* page */
.fullScreen {
  width: 100%;
}

/* all tabs */
.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon, .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn, .theme--light.v-tabs > .v-tabs-bar .v-tab--disabled {
  color: #757575;
}

/* fix [in bottom] footer and btn on it*/
.v-data-table .v-data-footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 99% !important;
  background-color: #eaeaea !important;
  color: #444 !important;
}
.btnOnFooterFixUnderGrid {
  width: 146px !important;
  height: 36px !important;
  background: #84BD00 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  position: fixed !important;
  bottom: 10px !important;
  z-index: 10 !important;
}

